<script>
document.write("<h2>Home Page</h2>")
var data = JSON.parse(localStorage.getItem('user'));
console.log(data)
document.write("<br>Hello ",data.firstName," your age is ")
document.write(data.age);
// fetch age from url 
//const queryString = window.location.search;
//const urlParams = new URLSearchParams(queryString);
//const age = urlParams.get('age')
//console.log(age);
//document.write("<br>Hello ",data.firstName," your age is ")
//document.write(age)
</script>