<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $('body').append(
            $('<div/>')
              .attr("id", "div")
              .addClass("div")
          );
        $("#div").append('<div><input type="text" id="email" name="email"/></div>')
        $("#div").append('<div><span id="span"></span></div>')
        $("#div").append('<div><button id="button"> Check </button></div>')
        $("#button").css("display","none")
        $("#div").append('<div><span id="span1"></span></div>')
        $("#email").change(function(){
            var email = $('#email').val();
            emails=["deveshnanwani@gmail.com","deveshnanwani@consultadd.com","chirag@consultadd.com","chirag@gmail.com","bhavesh@gmail.com","bhavesh@consultadd.com"]
            filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (filter.test(email)) {
                $(this).css("border", "3px solid green");
                if(emails.includes(email)){
                    $("#button").css("display","block");
                    $("#span").html("")
                    $("#span1").html("")
                }
                else{
                    $("#span").html("<br>email is not there!!!")
                    $("#button").css("display","none");
                    $("#span1").html("")
                return true;
                }
            } else {
                $(this).css("border", "3px solid red");
                $("#button").css("display","none");

                $("#span1").html("")
                return false;
            }
          });
        $("button").click(function(){
            var email = $('#email').val();
            if (/@consultadd.com\s*$/.test(email)) {
                span1.innerHTML="<br><b>True<b>"
                data=apiCall();
                data.then((data1)=>{
                    console.log(data1.firstName)
                    localStorage.setItem('user', JSON.stringify(data1));
                })
                // using local storage
                setTimeout(Redirect, 2000);
            }
            else{
                span1.innerHTML="<br><b>False<b>"
            }
        })

        function apiCall(){
        var data
        let promise = fetch("https://demo7857661.mockable.io/testdata", {
                origin: "*",
                method: "GET",
                data: data,
                dataType: 'json',
                ContentType: 'application/json'
              })
              .then((resp) => {
                data = resp.json();
                return data
              })
              .catch((err) => {
                console.log(err)
              })   
        return promise;
        }
        function Redirect() {
                           window.location = "./home.html";
                        }
          

    });

</script>